.box {
    position: relative;
    min-width: 386px;
}

.box .greeting {
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 9%;
    text-align: left;
    width: 75%;
    height: 80%;
}

.box .laptop{
    /* z-index: -1; */
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8); */
    margin: 0;
    padding: 0;
} 

.myName {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
}

@media (max-width: 991px){
    .myText {
        /* background-color: red; */
        position: absolute;
        top: 125%;
    }
}

/* 
@media (max-width: 767px){
    .myText{
        background-color: blue;
    }
}

@media (max-width: 368px){
    .myText{
        background-color: green;
    
    }
} 
*/

