.box {
    position: relative;
}

.box .greeting {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    text-align: left;
    width: 60%;
}

.myName {
    font-family: 'Permanent Marker', cursive;
    font-size: 6vw;
}
