.bgImage {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-image: url("/assets/images/upsidedown.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron {
    background: none;
    /* background:rgba(204, 204, 204, 0.1); */
}