html, body{
    height: 100%;
  }

body {
    background-image: url("/assets/images/upsidedown.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-family: 'Permanent Marker', cursive;
}

.jumbotron {
    background: none
}