.bgImage {
    height: 100%;
    width: 100%;
    min-width: 386px;
    position: fixed;
    background-image: url("/assets/images/sticker.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

.header {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
}

.jumbotron {
    background: none;
}